@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

header {
    background-color: #574DD8;
    margin: 0;
    padding: 25px;
    
}

body {
    margin: 0;
    background-color: #4188D2;
}

.title {
    margin: 0;
    font-size: 35px;
    display: inline;
}

* {
   font-family: "Source Code Pro", monospace;
}

button {
    background-color: #35D4A0;
    padding: 20px;
    font-size: 20px;
    
}

.newstitle {
    font-size: 45px;
    padding: 20px;
    text-align: center;
    background-color: #4188D2;
    margin: 0;
}

p {
    text-align: center;
}

.newsarticle {
    max-width: 1000px;
    margin: 0 auto; 
}

.newsimg {
  display: block;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}

.layout{
  display:flex;
  gap:12px;
  justify-content: space-between;
  background-color: #574DD8;
  padding: 50px;
  
  
}

.left{
  width: 1400px;             /* or whatever you want */
  position: sticky;
  top: 10px;                /* distance from top when stuck */
}

.right{
  flex:1;
  max-height: 52vh;         /* makes the data area scroll instead of the whole page */
  overflow:auto;
  border:5px solid #006E4A;
  padding: 10px;
  background-color: #35D4A0;

}

#stormMatches {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dbsearch {
    background-color: #4188D2;
}

input {
    width: 20%;
    font-size: large;
}

.newsarticle {
    display: flex;
    
}

#basinButtons{
    display:flex;
    gap:6px;
    margin-bottom:10px;
    flex-wrap:wrap;
}

.basinBtn{
    padding:6px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.basinBtn.active{
    outline:3px solid white;
}